

All applicants to the Graduate School of Arts and Science (GSAS) are 
required to submit a complete application for admission:
* Online application, 
* Academic transcripts, 
* Test scores (GRE and TOEFL), 
* Letters of recommendation, 
* A résumé or curriculum vitae, 
* Statement of Academic Purpose, 
     describe your past and present work as it relates to your intended 
     field of study, your educational objectives, and your career goals. 
     In addition, please include your intellectual and professional 
     reasons for choosing your field of study and why your 
     studies/research can best be done at the Graduate School of Arts 
     and Science at NYU. The statement should not exceed two 
     double-spaced pages.
* Application fee. 
* OPTIONAL: Personal History essay. 
     The purpose of this optional essay is to get to know you as an 
     individual and as a potential graduate student, and to understand 
     how your background will add to the diversity of our school. 
     Please describe how your personal background has motivated you to 
     pursue a graduate degree. You may discuss educational, familial, 
     cultural, socioeconomic, or personal experiences or challenges; 
     gender identity; community services, outreach services, 
     first-generation college status or other matters relevant to your 
     decision to pursue graduate education. Please note that the Personal
     History Statement is not meant to be a general autobiography.

     The statement is optional and should not exceed two double-spaced 
     pages. It should not duplicate the Statement of Academic Purpose.


 
