Requirements:


* Statement of Purpose
      2500 word limit: online Statement of Purpose accepted. 
      Your essay should include the following: 
             1. Describe one research problem, project or area for graduate study that excites you 
             2. How has your background prepared you to pursue such a research problem?
      More info:
      http://grad.ucsd.edu/admissions/requirements/statement-of-purpose.html