Requirements:
* Undergraduate transcripts
* Graduate transcripts, for applicants with prior graduate work
* GRE scores (verbal, quantitative, and writing. The psychology subject test is not required.)
* TOEFL scores for applicants with a native language other than English
* Personal statement describing research interests. It is essential to include the names of faculty members with whom the applicant would like to work.
* Three letters of recommendation



While you are waiting for ETS to send us your official score, you should 
enter your unofficial test scores on the application under the Tests 
section of Rutgers online graduate application. You can request an 
unofficial copy of your scores from the ETS website.