


Factors being considered:
(1) undergraduate GPA, 
(2) GRE scores, 
(3) the undergraduate institution, 
(4) letters of recommendation, 
(5) prior relevant research experience, 
(6) match between interests of the student and members of the faculty, 
(7) whether those faculty are currently admitting new students


REQUIREMENTS:
* Online Electronic Application 
* Graduate Record Examination (GRE) scores 
         Only admitted applicants will be instructed to submit official 
         GRE scores as a condition of enrollment at Vanderbilt. 
* Application fee
* Unofficial transcripts showing coursework and degree conferral 
* Three (3) letters of recommendation.
* Statement of Purpose / Research Statement 
    Describe past research experience, interests for future research 
    training in graduate school, and future plans following graduate 
    school.
* TOEFL scores are required 