


GRE:   There is no minimum required GRE score. 
       The results of this test represent only one of many factors 
       reviewed in the admission decision.

TOEFL:   Score Requirement for Admissions Consideration: 80
         Speaking Sub-Score Requirement for Financial Support: 26/30

Online Application:
     The UCI campus uses a fully-online graduate application program, 
     Slate. All applications and supplemental application materials are 
     to be sent through Slate, by the applicant. Letters of 
     recommendation will be submitted by recommenders through the 
     application portal.



Social Sciences Department
==========================================
International Applications
*Online application:
  - Statement of purpose and personal history statement 
    (paper-based applications are neither available nor accepted)*
*GRE (general test) score report
* TOEFL(-ibt) score report or IELTS
* 2 sets of transcripts or grade sheets; undergraduate and graduate 
  Official documents are required.
* 3 letters of recommendation
* Writing sample (Anthropology, Sociology, LPS [Philosophy], and Political Science only)
* Current CV or resume (optional, not required)
* Application fee

*The Statement of Purpose, personal history statement, letters of 
recommendation, and writing sample will be submitted electronically as 
part of the online application--letters through the application portal, 
statement of purpose and writing sample as uploaded documents.


UCI Graduate Division
==========================================
*For application review purposes only, scan and upload copies of 
transcripts for all institutions attended since high school. In the 
online application, you will be prompted to upload your scanned 
documents. Please upload both the front and back sides of the transcript.
Uploaded transcripts should be recent and include the following: 
your name, dates of attendance, grades/marks received, credits and 
grading legend. UCI reserves the right to require official transcripts
 at any time during the admission process, and rescind any offer of 
admission made if discrepancies between uploaded and official 
transcript(s) are found. Official transcripts will be requested if and
 when you are admitted and decide to attend UCI. 

Do not send official transcripts until this time, unless you are 
requested to do so.